<a href="https://colab.research.google.com/github/Tech-i-s/Python-coding-questions/blob/main/Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Given an array of ints, return True if the array contains a 2 next to a 2 somewhere.


has22([1, 2, 2]) → True
has22([1, 2, 1, 2]) → False
has22([2, 1, 2]) → False

In [ ]:
def has22(nums):
    for i in range(len(nums) - 1):
        if nums[i] == 2 and nums[i + 1] == 2:
            return True
    return False

In [ ]:
has22([2,1,2])

False

Q2. Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 7 (every 6 will be followed by at least one 7). Return 0 for no numbers.


sum67([1, 2, 2]) → 5
sum67([1, 2, 2, 6, 99, 99, 7]) → 5
sum67([1, 1, 6, 7, 2]) → 4

In [ ]:
def sum67(nums):
  ji=[]
  for i in nums:
    if i<6:
      ji.append(i)
  return sum(ji)

In [ ]:
sum67([1,2,4,5,33,35])

12

Q3. Return the number of even ints in the given array. Note: the % "mod" operator computes the remainder, e.g. 5 % 2 is 1.


count_evens([2, 1, 2, 3, 4]) → 3
count_evens([2, 2, 0]) → 3
count_evens([1, 3, 5]) → 0

In [ ]:
def count_evens(nums):
  shi=[]
  for i in nums:
    if i%2==0:
      shi.append(i)
  return len(shi)

In [ ]:
count_evens([2,3,1,4,24,2])

4


Q4.Given a string, return a string where for every char in the original, there are two chars.


double_char('The') → 'TThhee'
double_char('AAbb') → 'AAAAbbbb'
double_char('Hi-There') → 'HHii--TThheerree'

In [ ]:
def double_char(str):
  
  result=""
  for char in str:
    result = result + char*2
    
  return result

In [ ]:
double_char('The')

'TThhee'

Q5. Given an array of ints, return True if the sequence of numbers 1, 2, 3 appears in the array somewhere.


array123([1, 1, 2, 3, 1]) → True
array123([1, 1, 2, 4, 1]) → False
array123([1, 1, 2, 1, 2, 3]) → True

In [1]:
def array123(nums):
  for i in range(len(nums)-2):
    if nums[i]==1 and nums[i+1]==2 and nums[i+2]==3:
      return True
    return False

In [2]:
array123([1,1,2,3,1])

False

Q6. Given 2 strings, a and b, return a string of the form short+long+short, with the shorter string on the outside and the longer string on the inside. The strings will not be the same length, but they may be empty (length 0).

combo_string('Hello', 'hi') → 'hiHellohi' combo_string('hi', 'Hello') → 'hiHellohi' combo_string('aaa', 'b') → 'baaab'

In [3]:
def combo_string(a, b):
  if len(a)<len(b):
    return a+b+a
  return b+a+b 
combo_string('Hey','Heeyyy')

'HeyHeeyyyHey'

Q7. Given a string of even length, return the first half. So the string "WooHoo" yields "Woo".

first_half('WooHoo') → 'Woo' first_half('HelloThere') → 'Hello' first_half('abcdef') → 'abc'

In [4]:
def first_half(str):
  jinx=len(str)//2
  return str[:jinx]

In [5]:
first_half('Heyyyy')

'Hey'

Q8. Given 2 strings, return their concatenation, except omit the first char of each. The strings will be at least length 1.

In [6]:
def non_start(a, b):
  return a[1:]+b[1:]
non_start('Hey','Hello')

'eyello'

Q9. Given a list of numbers, write a Python program to count Even and Odd numbers in a List.

Example:

Input: list1 = [2, 7, 5, 64, 14] Output: Even = 3, odd = 2

Input: list2 = [12, 14, 95, 3] Output: Even = 2, odd = 2

In [8]:
# Python program to count Even
# and Odd numbers in a List
  
# list of numbers
list1 = []
n=int(input('Enter number of elements: '))
for i in range(0,n):
  ele=int(input())
  list1.append(ele)
even_count, odd_count = 0, 0
  
# iterating each number in list
for num in list1:
      
    # checking condition
    if num % 2 == 0:
        even_count += 1
  
    else:
        odd_count += 1
          
print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Enter number of elements: 4
2
5
4
5
Even numbers in the list:  2
Odd numbers in the list:  2

Q10. Write a python program to print the following pattern ->
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [13]:
for num in range(6):
  for i in range(num):
    print(num,end=" ")
  print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5