<a href="https://colab.research.google.com/github/Tech-i-s/Python-coding-questions/blob/main/Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given an array of ints, return True if the array contains a 2 next to a 2 somewhere.


has22([1, 2, 2]) → True
has22([1, 2, 1, 2]) → False
has22([2, 1, 2]) → False

In [ ]:
def has22(nums):
    for i in range(len(nums) - 1):
        if nums[i] == 2 and nums[i + 1] == 2:
            return True
    return False

In [ ]:
has22([2,1,2])

False


Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 7 (every 6 will be followed by at least one 7). Return 0 for no numbers.


sum67([1, 2, 2]) → 5
sum67([1, 2, 2, 6, 99, 99, 7]) → 5
sum67([1, 1, 6, 7, 2]) → 4

In [ ]:
def sum67(nums):
  ji=[]
  for i in nums:
    if i<6:
      ji.append(i)
  return sum(ji)

In [ ]:
sum67([1,2,4,5,33,35])

12


Return the number of even ints in the given array. Note: the % "mod" operator computes the remainder, e.g. 5 % 2 is 1.


count_evens([2, 1, 2, 3, 4]) → 3
count_evens([2, 2, 0]) → 3
count_evens([1, 3, 5]) → 0

In [ ]:
def count_evens(nums):
  shi=[]
  for i in nums:
    if i%2==0:
      shi.append(i)
  return len(shi)

In [ ]:
count_evens([2,3,1,4,24,2])

4


Given a string, return a string where for every char in the original, there are two chars.


double_char('The') → 'TThhee'
double_char('AAbb') → 'AAAAbbbb'
double_char('Hi-There') → 'HHii--TThheerree'

In [ ]:
def double_char(str):
  
  result=""
  for char in str:
    result = result + char*2
    
  return result

In [ ]:
double_char('The')

'TThhee'

Given an array of ints, return True if the sequence of numbers 1, 2, 3 appears in the array somewhere.


array123([1, 1, 2, 3, 1]) → True
array123([1, 1, 2, 4, 1]) → False
array123([1, 1, 2, 1, 2, 3]) → True

In [ ]:
def array123(nums):
  for i in range(len(nums)-2):
    if nums[i]==1 and nums[i+1]==2 and nums[i+2]==3:
      return True
    return False

10, 20 more =30 basic
10 oops 
10 ds and algos

data structures and algo - each topic 1 ques each

In [ ]:
def sum67(nums):
  total = 0
  skip = False
  for i in range(len(nums)):
    if nums[i] == 6:
      skip =True
    elif nums[i]==7 and skip:
      skip = False
    elif not skip:
      total += nums[i]
  return total

sum67([1,1,6,7,2])

4